---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<title>{title}</title>
		<!-- Primary Meta Tags -->
		<title>One Shot Battles - Liga callejera de Batallas de FreeStyle</title>
		<meta
			name="title"
			content="One Shot Battles - Liga callejera de Batallas de FreeStyle"
		/>
		<meta
			name="description"
			content="Explora la emocionante escena del freestyle en el sur de México. Únete a nuestra liga callejera donde talentosos MCs compiten en batallas de rap improvisado. Sumérgete en la cultura del freestyle, la pasión por las rimas y la intensa competencia. ¡No te pierdas la acción y el talento de nuestra liga de freestyle al sur de México!"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://oneshotbattles.vercel.app/" />
		<meta
			property="og:title"
			content="One Shot Battles - Liga callejera de Batallas de FreeStyle"
		/>
		<meta
			property="og:description"
			content="Explora la emocionante escena del freestyle en el sur de México. Únete a nuestra liga callejera donde talentosos MCs compiten en batallas de rap improvisado. Sumérgete en la cultura del freestyle, la pasión por las rimas y la intensa competencia. ¡No te pierdas la acción y el talento de nuestra liga de freestyle al sur de México!"
		/>
		<meta
			property="og:image"
			content="https://oneshotbattles.vercel.app/images/ogimage.png"
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://oneshotbattles.vercel.app/" />
		<meta
			property="twitter:title"
			content="One Shot Battles - Liga callejera de Batallas de FreeStyle"
		/>
		<meta
			property="twitter:description"
			content="Explora la emocionante escena del freestyle en el sur de México. Únete a nuestra liga callejera donde talentosos MCs compiten en batallas de rap improvisado. Sumérgete en la cultura del freestyle, la pasión por las rimas y la intensa competencia. ¡No te pierdas la acción y el talento de nuestra liga de freestyle al sur de México!"
		/>
		<meta
			property="twitter:image"
			content="https://oneshotbattles.vercel.app/images/ogimage.png"
		/>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	body {
		background-color: black;
	}
</style>
